.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name ã‚
      .side-header__box__menu
        .side-header__box__menu__new-group
        .side-header__box__menu__edit-user
  .groups