* {
  box-sizing: border-box;
}
.chat-side a {
  color: white;
}

a {
  text-decoration: none;
}
.chat-side {
  width: 300px;
  color: white;
  float: left;
  height: 100vh;
  background-color: #253141;
}
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  

    .side-header__box {
     display: flex;
     justify-content: space-between;
     width: 100%;
     font-weight: bold;
   
    &__menu {  
      display: flex;
      }
    }
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  }  

  .group {
    color: white;
    text-decoration: none;
    margin-bottom: 40px;

  }

  .group__group-name {
    font-size: 15px;
    margin-bottom: 5px;
 }
 .group__latest-message {
  font-size: 11px;
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  height: 100vh;
  }
