* {
  box-sizing: border-box;
}

.chat-side {
  width: 300px;
  color: white;
  float: left;
  height: 100vh;
  background-color: #253141;
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  height: 100vh;
}