* {
  box-sizing: border-box;
}
.chat-side a {
  color: white;
}

a {
  text-decoration: none;
}
.chat-side {
  width: 300px;
  color: white;
  float: left;
  height: 100vh;
  // background-color: #253141;
}
  .side-header {
    // background-color: #253141;
    background-color: #87ceeb;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  
    .side-header__box__menu li {
      margin-left: 0.3rem;
    }
    .side-header__box {
     display: flex;
     justify-content: space-between;
     width: 100%;
     font-weight: bold;
   
    &__menu {  
      display: flex;
      }
    }
  }

  .groups {
    height: calc(100vh - 100px);
    // background-color: #2f3e51;
    background-color: #e0ffff;
    padding: 20px 20px 0;
    overflow: scroll;
  }  

  .group {
    text-decoration: none;
    margin-bottom: 40px;

  }

  .group__group-name {
    color: #c6c6ff;
    font-size: 15px;
    margin-bottom: 5px;
 }
 .group__latest-message {
  color:#c6c6ff;
  font-size: 11px;
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  height: 100vh;
  }
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    background: linear-gradient(45deg, #ccffe5, #d1ffff, #ccccff);
    background-size: 600% 600%;
    animation: AnimationName 9s ease infinite;


    @keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}
    .main-header__left-box {
      margin-top: 35px;
    }
      .main-header__left-box__current-group {
      font-size: 20px;
      // color: #333;
      color: #8da0b6;
      margin-bottom: 15px;
      }
        .main-header__left-box__member-list {
        display: flex;
        font-size: 12px;
        // color: #999999;
        color: #8da0b6
        }
    .main-header a:visited, .chat-main .main-header a:hover, .chat-main .main-header a:active {
      color: #38aef0;
    }
      .main-header__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        color: #38aef0;
        position: absolute;
        right: 40px;
      }
    .messages {
      height: calc(100vh - 190px);
      padding: 46px 40px;
      // background-color: #fafafa;
      background-image: image-url('umi.jpg');
      background-size: cover;
      background-position: center;
      background-color:rgba(255,255,255,0.7);
      background-blend-mode:lighten;                   
      overflow: scroll;
    }   
      .message {
      padding-bottom: 40px;
      }
        .messages .message__upper-info {
        display: flex;
        margin-bottom: 10px;
        }
        .message__upper-info__talker {
          // color: #434a54;
          color:#c9c9c4;
          font-size: 16px;
          font-weight: bold;
        }
        .message__upper-info__date {
          // color: #999999;
          color: #bfbec5;
          font-size: 12px;
          margin-left: 10px;
        }
      .message__text {
          // color: #434a54;
          color: #8da0b6;
          font-size: 14px;
          margin-bottom: 10px;
      }   

      
    .form {
      height: 90px;
      padding: 20px 40px;
      // background-color: #ddd;
      background-color:#fff2e5;
      .new_message {
       display: flex;
     }   
      .input-box {
        position: relative;
        width: 100%;
        
        &__text {
         height: 50px;
         width: 100%;
         color: #434a54;
         border-style: none;
         padding: 0 0px 0 10px;
       }
      }  
        .input-box__image {
       font-size: 1.3rem;
       position: absolute;
       top: 10px;
       right: 10px;
       cursor: pointer;
   

        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;
        }  
          &__file {
            display: none;
          } 
       }          
      .submit-btn {
         width: 100px;
         height: 50px;
         padding: 0 30px;
         margin-left: 15px;
        //  background-color: #38aef0;
        background-color:  #87ceeb;
         color: white;
         cursor: pointer;
      }  
   }  